@import "../fonts/Montserrat";

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;
}
body {
    margin: 0 auto;
}
.center {
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 20px;
}
ul {
    list-style: none;
}


/* Header */

.nav {
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 150px;
    z-index: 100;
    background-color: #11101b;
    box-shadow: 2px 2px 4px #000;
}
.nav__logo {
    padding-top: 15px;
}
.nav__burger {
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
}
.nav__burger span {
    width: 40px;
    height: 2px;
    background: #fff;
    margin: 2px;
    transition: all .4s ease;
}
.nav__burger.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}
.nav__burger.active span:nth-child(2) {
    opacity: 0;
}
.nav__burger.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__link {
    display: block;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 50px;
    margin: 0 15px;
}
.nav__link:hover {
    transition: .5s ease-in;
    color: #000;
    background: #fefefe;
}
.nav__login {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.head__under {
    display: none;
    width: 100%;
    height: 390px;
    background: url("../img/under-bg.webp") no-repeat center;
    background-size: cover;
}

/* Head */

.head {
    width: 100%;
    height: 950px;
    background: url("../img/head-bg.webp") no-repeat center;
    background-size: cover;
}
.head__title {
    padding-top: 220px;
    height: 700px;
    width: 700px;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 2px;
}
.head__subtitle {
    width: 600px;
    padding: 15px 0 70px 5px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}
.head__title-footer {
    text-transform: initial;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px 0 0 5px;
    color: #fff;
}
.head__subtitle-footer {
    font-size: 25px;
    font-weight: 600;
    color: #FDCA32;
    letter-spacing: 1px;
    padding: 0 0 10px 5px;
}
.head__btn {
    padding: 15px 50px;
    margin-left: 5px;
    background-color: blueviolet;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0;
    transition: .5s;
    border-radius: 20px;
    &:hover {
        opacity: .7;
        transition: .5s;
    }
    &:active {
        opacity: .6;
        transition: .3s;
    }
}
.arrow {
    padding: 50px 0 0 270px;
}

/* Active */

.company {
    overflow: hidden;
    background-color: #000;
    padding-top: 60px;
}
.company__title {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 30px 150px 0 150px;
    text-align: center;
}
.company__name-list {
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.company__name-list img {
    width: 230px;
    height: 85px;
    background-color: white;
    border-radius: 3%;
    margin: 50px 0 50px 0;
}
.company__name-list .dataart {
    padding: 25px 15px;
}
.company__name-list .sigma {
    padding-top: 5px;
}
.company__name-list .softserve {
    padding-top: 5px;
}
.company__name-list .global {
    padding: 5px 0;
}
.company__name-list .luxoft {
    padding: 13px 25px;
}
/*@keyframes active__company-name {*/
/*    0% {*/
/*        transform: translateX(100%);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(-100%);*/
/*    }*/
/*}*/

/* Change */

.change {
    background-color: #000;
    height: 700px;
}
.change__title {
    display: flex;
    flex-direction: column;
    padding: 70px 0 60px 0;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.change__inner {
    max-width: 1200px;
    height: 400px;
    background-color: #fff;
    border-radius: 60px;
    margin: 0 auto;
}
.change__inner-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 50px;
    font-size: 20px;
    padding: 40px 0;
    color: #fff;
}
.change__content-inline {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    background-color: rgba(232, 230, 230);
    font-weight: 500;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
}

/* Salary */

.salary {
    background: url("../img/salary-bg.webp") no-repeat;
    background-size: cover;
    min-height: 1150px;
    padding-top: 100px;
}
.salary__title {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-bottom: 60px;
}
.salary__title-block {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 40%;
    transform: translateX(-33%);
    color: #333;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}
.salary__head-title {
    font-size: 25px;
    padding-bottom: 10px;
}
.salary__inner {
    display: flex;
    align-items: flex-end;
    max-width: 1200px;
    height: 750px;
    background-color: #fff;
    border-radius: 60px;
    padding: 50px 100px;
}
.salary__price {
    position: relative;
    display: flex;
    padding-bottom: 100px;
}
.salary__price-750 {
    position: absolute;
    bottom: 160px;
    right: 900px;
    width: 120px;
    height: 40px;
    color: #000;
    font-size: 15px;
    text-align: center;
    background: rgb(119,42,207);
    background: linear-gradient(90deg, rgba(119,42,207,1) 23%, rgba(245,234,255,1) 100%);
    padding-top: 6px;
    border-radius: 10px;
}
.salary__price-1800 {
    position: absolute;
    bottom: 250px;
    right: 440px;
    width: 120px;
    height: 40px;
    color: #000;
    font-size: 15px;
    text-align: center;
    background: rgb(119,42,207);
    background: linear-gradient(90deg, rgba(119,42,207,1) 23%, rgba(245,234,255,1) 100%);
    padding-top: 6px;
    border-radius: 10px;
}
.salary__price-3100 {
    position: absolute;
    bottom: 420px;
    left: -100px;
    width: 120px;
    height: 40px;
    color: #000;
    font-size: 15px;
    text-align: center;
    background: rgb(119,42,207);
    background: linear-gradient(90deg, rgba(119,42,207,1) 23%, rgba(245,234,255,1) 100%);
    padding-top: 6px;
    border-radius: 10px;
}

/* Salary under */

.salary__under {
    display: none;
}

/* Stage */

.stage {
    background: url("../img/stage-bg.webp") no-repeat;
    background-size: cover;
    height: 1670px;
}
.stage__block-title{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.stage__title{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
}
.stage__section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding-top: 100px;
}
.stage-people-task {
    width: 300px;
    padding: 70px 0 50px 5px;
}
.stage-icons_book {
    position: relative;
    width: 70px;
    right: 50px;
    bottom: 30px;
}
.stage-icons_backpack {
    position: relative;
    width: 70px;
    bottom: 650px;
    left: 340px;
}
.stage__block-theory {
    width: 350px;
    height: 600px;
    color: #fff;
    background-color: rgba(21, 11, 43, 0.7);
    box-shadow: 4px 4px 10px #000;
    padding: 0 20px 50px 20px;
    text-align: left;
    border-radius: 20px;
}
.stage__block-theory ul {
    padding: 25px 10px;
    font-size: 18px;
    line-height: 1.4;
}
.stage-people-comp {
    width: 350px;
    padding: 20px 0 40px 5px;
}
.stage__block-practice {
    width: 400px;
    height: 700px;
    color: #fff;
    background-color: rgba(21, 11, 43, 0.7);
    box-shadow: 4px 4px 10px #000;
    padding: 0 20px 50px 20px;
    text-align: left;
    border-radius: 20px;
}
.stage__block-practice ul {
    padding: 25px 10px;
    font-size: 18px;
    line-height: 1.6;
}
.stage-people {
    width: 300px;
    padding: 30px 0 20px 5px;
}
.stage__block-final {
    width: 350px;
    height: 600px;
    color: #fff;
    background-color: rgba(21, 11, 43, 0.7);
    box-shadow: 4px 4px 10px #000;
    padding: 0 20px 50px 20px;
    text-align: left;
    border-radius: 20px;
}
.stage__block-final ul {
    padding: 25px 10px;
    font-size: 18px;
    line-height: 1.4;
}
.stage__block-vertical {
    display: none;
    width: 1px;
    background: #fff;
    height: 100px;
    margin: 0 20px;
}
.stage__footer {
    max-width: 1200px;
    height: 500px;
    background-color: rgba(21, 11, 43, 0.7);
    box-shadow: 4px 4px 10px #000;
    border-radius: 20px;
    margin: 100px auto;
}
.stage__footer-about {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px 0 40px;
}
.stage__footer-content {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    color: #fff;
    gap: 10px;
    padding: 30px 0 20px 40px;
}
.stage__footer-image {
    padding: 22px 30px 100px 50px;
}
.stage__content-btn {
    display: flex;
    align-items: center;
}
.stage__footer-name {
    font-size: 27px;
    font-weight: 500;
}
.stage__footer-job {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 30px;
}
.stage__title-btn {
    background: #fff;
    border-radius: 20px;
    color: #000;
    padding: 10px;
    margin-top: 30px;
}
.stage__footer-btn {
    padding-top: 30px;
}
.stage__btn {
    width: 300px;
    padding: 15px 40px;
    background-color: blueviolet;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0;
    transition: .5s;
    border-radius: 20px;
}
.stage__btn:hover {
    opacity: .7;
    transition: .5s;
}
.stage__btn:active {
    opacity: .6;
    transition: .3s;
}

/* Program */

.program__main {
    background: url("../img/accordion-bg.webp") no-repeat;
    background-size: cover;
    min-height: 1700px;
    padding-top: 60px;
}
.program__inner-tech {
    height: 230px;
    background: #fff;
    max-width: 1200px;
    border-radius: 20px;
    margin-top: 15px;
}
.program__title-text {
    width: 500px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.program__tech-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0 10px 0;
}
.program__tech-list {
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 15px 50px 0 50px;

}
.program__tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}
.program__tech-item span {
    font-size: 13px;
    font-weight: 300;
}
.proxyman {
    width: 75px;
    height: 75px;
    border-radius: 15px;
}
.program__inner {
    min-height: 950px;
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 40px;
}
.program__inner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 50px 0;
}
.program__title {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 100px 0;
}
.program__question {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(147, 70, 235, 0.3) 23%, rgba(220, 209, 255, 0.3) 100%);
    box-shadow: 1px 1px 1px #9346eb;
    padding: 8px 20px;
    margin-bottom: 5px;
}
.program__question h3 {
    font-size: 19px;
    font-weight: 500;
}
.program__question-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program__answer {
    max-height: 0;
    overflow: hidden;
    transition: .5s;
}
.program svg {
    background-color: #be80fc;
    color: #11101b;
    border-radius: 50%;
    transition: transform .3s ease;
}
.program.active .program__answer {
    max-height: 300px;
    transition: .5s ease-in-out;
    padding-top: 10px;
}
.program.active svg {
    transform: rotate(180deg);
    background: linear-gradient(180deg, rgba(147,70,235,0.3) 23%, rgba(220,209,255,0.3) 100%);
    color: #000;
}

/* Cashback */

.cashback {
    background-color: #000;
    min-height: 400px;
}
.cashback__inner {
    background-color: #fff;
    width: 1200px;
    min-height: 200px;
    border-radius: 20px;
    margin: 0 auto;
}
.cashback__inner img {
    float: right;
    padding: 20px 40px;
}
.cashback__inner-content {
    width: 1000px;
    align-items: center;
    padding: 30px 20px;
}
.cashback__inner-content h2 {
    font-size: 22px;
    padding-bottom: 20px;
}
.cashback__inner-content p {
    font-size: 20px;
}

/* Certificate */

.certificate {
    background: url("../img/certificate-bg.webp") no-repeat;
    background-size: cover;
    min-height: 900px;
    padding-top: 200px;
}
.certificate__inner {
    display: flex;;
    height: 379px;
    align-items: center;
    background: #fff;
    max-width: 1400px;
    border-radius: 20px;
    margin: 0 auto;
}
.certificate__inner-title {
    font-size: 25px;
    font-weight: 500;
    padding: 20px;
}
.certificate__inner-subtitle {
    font-weight: 400;
    padding: 20px;
}
.certificate__image {
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
}

/* About */

.about {
    background-color: #000;
    background-size: cover;
    min-height: 700px;
}
.about__inner-title {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    padding: 0 0 60px 0;
    margin: 0 auto;
}
.about__inner-block {
    max-width: 1200px;
    height: 530px;
    background-color: #fff;
    border-radius: 60px;
    margin: 0 auto;
}
.about__inner-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 50px;
    font-size: 25px;
    color: #fff;
    padding: 45px 0;
}
.about__content-inline {
    display: flex;
    align-items: center;
    background-color: rgba(232, 230, 230);
    gap: 10px;
    color: #000;
    font-weight: 500;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
}
.about__footer-btn {
    padding: 15px 50px;
    /*margin-left: 5px;*/
    background-color: blueviolet;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0;
    transition: .5s;
    border-radius: 20px;
}
.about__footer-btn:hover {
    opacity: .7;
    transition: .5s;
}
.about__footer-btn:active {
    opacity: .6;
    transition: .3s;
}
.about__footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about__footer-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0 10px 0;
}

/* Slider */

.slider {
    height: 600px;
    background: #000000;
}
.slider__title {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0 150px 0;
}
.slider__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 30px;
}
.card__item {
    background-color: #1f1824;
    height: 300px;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
}
.reviews__icon {
    position: relative;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
}
.card__list {
    width: 100%;
}
.card__item h2 {
    padding-bottom: 25px;
}
.swiper-pagination-bullet {
    background: #fff;
    height: 15px;
    width: 15px;
}
.swiper-slide-button {
    padding-top: 50px;
    color: #fff;
}

/* FAQ */

.faq__main {
    background: url("../img/faq-bg.webp") no-repeat;
    background-size: cover;
    height: 1100px;
}
.faq__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.faq__title {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 250px 0 100px 0;
}
.faq {
    max-width: 950px;
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #000;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.question h3 {
    font-size: 19px;
    font-weight: 500;
}
.answer {
    max-height: 0;
    overflow: hidden;
    background: #fff;
    transition: .25s ease;
}
.faq svg {
    background-color: #be80fc;
    color: #11101b;
    border-radius: 50%;
    transition: transform .3s ease;
}
.faq.active .answer {
    max-height: 300px;
    transition: .5s ease-in-out;
    padding-top: 10px;
}
.faq.active svg {
    transform: rotate(180deg);
    background: linear-gradient(180deg, rgba(147,70,235,0.3) 23%, rgba(220,209,255,0.3) 100%);
    color: #000;
}

/* Footer */

.footer {
    background: url("../img/footer-bg.webp") no-repeat;
    background-size: cover;
}
.footer__class {
    padding-top: 5px;
}
.footer__class-title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 10px;
}
.footer__class li a {
    display: flex;
    align-items: center;
    line-height: 1.7;
}
.footer__class ul {
    list-style: none;
}
.footer__class-name {
    padding: 7px 0 0 5px;
}
.footer__class-name:hover {
    color: #be80fc;
    transition: .3s ease;
}
.footer__pay:hover {
    color: #be80fc;
    transition: .3s ease;
}
.footer__accept {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.footer__accept-text:hover {
    color: #be80fc;
    transition: .3s ease;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer__accept {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 70px;
    font-size: 13px;
}

/* Privacy */

.privacy__title {
    font-size: 30px;
    text-align: center;
    padding: 140px 40px 40px 40px;
}
.privacy__subtitle {
    font-size: 18px;
    padding-bottom: 30px;
}
.privacy__update {
    padding-bottom: 20px;
}
.privacy__list {
    padding-bottom: 10px;
}
.privacy__list-li {
    padding: 10px 0 10px 50px;
}
.privacy__block {
    padding: 20px 0 20px 0;
}

/* Agreement */

.agreement {
    padding: 140px 40px 40px 40px;
    text-align: center;
}
.agreement__edit {
    padding: 30px 0;
    text-align: left;
}
.edit__text {
    text-align: left;
    padding-bottom: 30px;
}
.agreement__main {
    text-align: left;
}
.main__about {
    padding-bottom: 30px;
}
.main__terms {
    padding: 30px 0;
}
.terms__title {
    padding-bottom: 30px;
}
.terms_p {
    text-align: left;
    text-indent: 5%;
}
.terms_li {
    text-align: left;
    padding: 0 0 0 50px;
}
.agreement__num ul {
    list-style: none;
}
.num__title {
    padding: 30px 0;
}
.num__list {
    text-align: left;
}
.rules__title {
    padding: 30px 0;
}

/* Media */

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width: 1320px) {
    .nav {
        padding: 0 70px;
    }
    .nav__link {
        font-size: 18px;
        margin: 0 10px;
    }
    .head__title {
        font-size: 35px;
    }
    .company {
        padding-top: 50px;
    }
    .change__title {
        padding-top: 170px;
    }
    .company__name-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 300px;
        padding-top: 60px;
    }
    .company__name-list img {
        margin: 0 auto;
    }
    .certificate {
        padding: 100px 50px;
    }
    .certificate__inner-title {
        font-size: 20px;
    }
    .certificate__inner-subtitle {
        font-weight: 500;
        font-size: 15px;
    }
    .salary__title {
        padding: 60px;
    }
    .stage__title {
        padding-top: 170px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1320px) {
    .nav {
        padding: 0 30px;
    }
    .nav__link {
        font-size: 17px;
        margin: 0 3px;
    }
    .head {
        height: 700px;
    }
    .head__inner {
        margin: 0 0 0 15px;
    }
    .head__title {
        padding-top: 180px;
        font-size: 35px;
    }
    .head__subtitle {
        width: 440px;
        font-size: 18px;
        padding-bottom: 50px;
    }
    .head__title-footer {
        font-size: 20px;
    }
    .head__subtitle-footer {
        font-size: 20px;
    }
    .about {
        min-height: 750px;
    }
    .about__inner-block {
        max-width: 1100px;
        height: 500px;
    }
    .about__inner-content {
        padding: 35px 0;
    }
    .about__content-inline {
        width: 300px;
        font-size: 17px;
    }
    .salary__inner {
        max-width: 1000px;
        height: 650px;
    }
    .salary__price-750 {
        right: 700px;
        bottom: 135px;
    }
    .salary__price-1800 {
        bottom: 215px;
        right: 340px;
    }
    .salary__price-3100 {
        bottom: 340px;
    }
    .stage__section {
        gap: 50px;
    }
    .stage__title {
        padding-top: 100px;
    }
    .stage__footer {
        max-width: 1100px;
    }
    .stage__title-btn {
        font-size: 20px;
    }
    .stage__block-theory {
        width: 300px;
        height: 550px;
    }
    .stage__block-theory ul {
        font-size: 16px;
    }
    .stage-people-task {
        width: 250px;
    }
    .stage__block-practice {
        width: 350px;
        height: 670px;
    }
    .stage__block-practice ul {
        font-size: 16px;
    }
    .stage-people-comp {
        width: 300px;
    }
    .stage__block-final {
        width: 300px;
        height: 550px;
    }
    .stage__block-final ul {
        font-size: 16px;
    }
    .stage-people {
        width: 260px;
    }
    .program__main {
        min-height: 1550px;
        padding-top: 0;
    }
    .program__tech-list {
        gap: 0;
    }
    .certificate {
        min-height: 700px;
    }
    .certificate__inner {
        width: 900px;
    }
    .certificate__image {
        width: 600px;
    }
    .change__inner {
        max-width: 1000px;
        height: 350px;
    }
    .change__inner-content {
        gap: 30px;
    }
    .change__content-inline {
        width: 450px;
        font-size: 18px;
    }
    .card__item {
        font-size: 14px;
    }
    .card__item h2 {
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav {
        padding: 0 50px;
    }
    .nav__list {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #11101b;
        width: 100%;
        transition: max-height .4s ease, opacity .4s ease;
        opacity: 0;
    }
    .nav__list.active {
        max-height: 500px;
        padding-bottom: 30px;
        opacity: 1;
    }
    .nav__burger {
        display: flex;
    }
    .nav__link {
        padding: 15px;
        text-decoration: none;
        color: #fff;
        transition: background .4s ease;
    }
    .head {
        height: 550px;
    }
    .head__inner {
        margin: 0;
    }
    .head__title {
        padding-top: 140px;
        width: 500px;
        font-size: 23px;
    }
    .head__subtitle {
        width: 380px;
        font-size: 15px;
        padding-bottom: 50px;
    }
    .head__title-footer {
        font-size: 15px;
    }
    .head__subtitle-footer {
        font-size: 15px;
    }
    .head__btn {
        padding: 5px 10px;
        font-size: 17px;
    }
    .company {
        height: 500px;
    }
    .company__title {
        font-size: 23px;
        padding: 0 200px;
    }
    .company__name {
        padding-top: 0;
    }
    .company__name-list img {
        width: 180px;
        height: 65px;
    }
    .company__name-list .dataart {
        padding: 20px 10px;
    }
    .company__name-list .softserve {
        padding: 0;
    }
    .company__name-list .global {
        padding: 0;
    }
    .company__name-list .sigma {
        padding: 0;
    }
    .change {
        height: 500px;
    }
    .change__title {
        font-size: 23px;
        padding-top: 0;
    }
    .change__inner {
        height: 330px;
        margin: 0 20px;
    }
    .change__inner-content {
        padding: 35px 0;
        gap: 20px;
    }
    .change__content-inline {
        width: 330px;
        font-size: 12px;
    }
    .salary {
        min-height: 700px;
        padding: 0 20px;
    }
    .salary__title {
        font-size: 23px;
    }
    .salary__head-title {
        font-size: 20px;
    }
    .salary__head-subtitle {
        font-size: 15px;
    }
    .salary__inner {
        width: 730px;
        height: 530px;
    }
    .salary__price-750 {
        width: 90px;
        height: 30px;
        bottom: 100px;
        right: 450px;
        font-size: 13px;
        padding-top: 3px;
    }
    .salary__price-1800 {
        width: 90px;
        height: 30px;
        bottom: 150px;
        right: 220px;
        font-size: 13px;
        padding-top: 3px;
    }
    .salary__price-3100 {
        width: 90px;
        height: 30px;
        bottom: 230px;
        left: -79px;
        font-size: 13px;
        padding-top: 3px;
    }
    .stage {
        padding: 0 20px;
    }
    .stage__title {
        font-size: 23px;
        padding-top: 60px;
    }
    .stage__section {
        display: block;
        padding-top: 60px;
    }
    .stage__block-title {
        position: absolute;
        bottom: 200px;
        left: 20px;
        font-size: 19px;
    }
    .stage__block-vertical {
        display: block;
        position: relative;
        top: 45px;
        left: 20px;
        height: 160px;
    }
    .stage__block-theory {
        position: relative;
        display: flex;
        align-items: center;
        width: 726px;
        height: 250px;
        padding: 0 10px 50px 10px;
        margin: 0 auto 20px;
    }
    .stage__block-theory ul {
        width: 600px;
        font-size: 18px;
        font-weight: 300;
        padding: 90px 0 0 40px;
    }
    .stage-people-task {
        padding-top: 125px;
        padding-left: 20px;
        width: 200px;
    }
    .stage__block-practice {
        position: relative;
        display: flex;
        align-items: center;
        width: 726px;
        height: 250px;
        padding: 0 10px 50px 10px;
        margin: 0 auto 20px;
    }
    .stage__block-practice ul {
        width: 600px;
        font-size: 18px;
        font-weight: 300;
        padding: 90px 0 10px 40px;
        line-height: 1.3;
    }
    .stage-people-comp {
        padding-top: 125px;
        padding-left: 20px;
        width: 200px;
    }
    .stage__block-final {
        position: relative;
        display: flex;
        align-items: center;
        width: 726px;
        height: 250px;
        padding: 0 10px 50px 10px;
        margin: 0 auto 0;
    }
    .stage__block-final ul {
        width: 600px;
        font-size: 18px;
        font-weight: 400;
        padding: 90px 0 0 40px;
        line-height: 1.3;
    }
    .stage-people {
        padding: 110px 0 20px 20px;
        width: 200px;
    }
    .stage__footer-content {
        font-size: 18px;
    }
    .stage__footer-about {
        padding: 0;
    }
    .stage__footer-image {
        padding: 38px 30px 100px 50px;
    }
    .program__main {
        min-height: 1250px;
        padding-top: 0;
    }
    .program__title {
        font-size: 23px;
        padding: 0 0 60px 0;
    }
    .program__title-text {
        width: 300px;
        font-size: 23px;
    }
    .program__title-image {
        width: 95px;
    }
    .program__question h3 {
        width: 400px;
        font-size: 17px;
    }
    .program__inner-tech {
        height: 200px;
    }
    .program__tech-list {
        padding: 15px 0 0 0;
    }
    .program__tech-item img {
        width: 55px;
    }
    .proxyman {
        width: 55px;
        height: 55px;
    }
    .certificate {
        padding-top: 150px;
    }
    .certificate__inner {
        display: block;
        width: 570px;
        height: 600px;
        padding: 0 20px;
    }
    .certificate__inner-title {
        text-align: center;
        font-size: 25px;
    }
    .certificate__inner-subtitle {
        text-align: center;
        font-size: 16px;
        padding-top: 0;
    }
    .certificate__image {
        width: 500px;
    }
    .about__inner-title {
        font-size: 23px;
    }
    .about__inner-content {
        gap: 20px;
    }
    .about__inner-block {
        max-width: 850px;
        height: 480px;
    }
    .about__content-inline {
        width: 250px;
        font-size: 12px;
    }
    .about__footer-title {
        font-size: 18px;
        padding-bottom: 15px;
    }
    .about__footer-btn {
        padding: 15px 40px;
    }
    .slider {
        height: 480px;
    }
    .slider__title {
        font-size: 23px;
        padding-bottom: 60px;
    }
    .card__item {
        height: 280px;
        font-size: 13px;
    }
    .card__item h2 {
        padding-bottom: 10px;
    }
    .faq__main {
        height: 800px;
    }
    .faq__title {
        font-size: 23px;
        padding: 80px 0 60px 0;
    }
    .question h3 {
        width: 400px;
        font-size: 17px;
    }
    .footer__inner {
        max-width: 800px;
        padding: 0;
        margin: 0 auto;
        gap: 20px;
    }
    .footer__logo {
        width: 200px;
    }
    .footer__class {
        padding-top: 10px;
    }
    .footer__class-title {
        font-size: 20px;
    }
    .footer__class-name {
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .nav {
        padding: 0 50px;
        height: 70px;
    }
    .nav__logo img {
        width: 160px;
    }
    .nav__link {
        font-size: 15px;
    }
    .nav__icons-text {
        font-size: 15px;
    }
    .nav__list {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #11101b;
        width: 100%;
        transition: max-height .4s ease, opacity .4s ease;
        opacity: 0;
    }
    .nav__list.active {
        max-height: 500px;
        padding-bottom: 30px;
        opacity: 1;
    }
    .nav__burger {
        display: flex;
    }
    .nav__link {
        padding: 15px;
        text-decoration: none;
        color: #fff;
        transition: background .4s ease;
    }
    .head {
        height: 400px;
    }
    .head__inner {
        margin: 0;
    }
    .head__title {
        padding-top: 110px;
        width: 500px;
        font-size: 19px;
    }
    .head__subtitle {
        width: 330px;
        font-size: 13px;
        padding-bottom: 20px;
    }
    .head__title-footer {
        padding-top: 10px;
        font-size: 13px;
    }
    .head__subtitle-footer {
        font-size: 13px;
    }
    .head__btn {
        padding: 5px 10px;
        font-size: 13px;
    }
    .company {
        padding-top: 0;
        height: 300px;
    }
    .company__title {
        font-size: 19px;
        padding: 20px 150px;
    }
    .company__name {
        padding-top: 0;
    }
    .company__name-list {
        height: 200px;
        padding-top: 20px;
    }
    .company__name-list img {
        width: 150px;
        height: 55px;
    }
    .company__name-list .dataart {
        padding: 15px 10px;
    }
    .company__name-list .luxoft {
        padding: 5px 10px;
    }
    .company__name-list .softserve {
        padding: 0;
    }
    .company__name-list .global {
        padding: 0;
    }
    .company__name-list .sigma {
        padding: 0;
    }
    .change {
        height: 500px;
    }
    .change__title {
        font-size: 19px;
        padding-top: 20px;
    }
    .change__inner {
        height: 330px;
        margin: 0 20px;
    }
    .change__inner-content {
        padding: 35px 0;
        gap: 20px;
    }
    .change__content-inline {
        width: 240px;
        font-size: 12px;
    }
    .salary {
        min-height: 600px;
        padding: 0 20px;
    }
    .salary__title {
        padding: 40px 0 60px 0;
        font-size: 19px;
    }
    .salary__head-title {
        font-size: 16px;
    }
    .salary__head-subtitle {
        font-size: 12px;
    }
    .salary__inner {
        width: 560px;
        height: 430px;
        padding: 20px 40px 20px 40px;
    }
    .salary__price-750 {
        width: 70px;
        height: 25px;
        bottom: 90px;
        right: 410px;
        font-size: 10px;
        padding-top: 4px;
    }
    .salary__price-1800 {
        width: 70px;
        height: 25px;
        bottom: 130px;
        right: 210px;
        font-size: 10px;
        padding-top: 4px;
    }
    .salary__price-3100 {
        width: 70px;
        height: 25px;
        bottom: 205px;
        left: -70px;
        font-size: 10px;
        padding-top: 4px;
    }
    .stage {
        height: 1470px;
        padding: 0 20px;
    }
    .stage__title {
        font-size: 19px;
        padding-top: 60px;
    }
    .stage__section {
        display: block;
        padding-top: 60px;
    }
    .stage__block-title {
        position: absolute;
        bottom: 200px;
        left: 20px;
        font-size: 16px;
    }
    .stage__block-vertical {
        display: block;
        position: relative;
        top: 45px;
        left: 20px;
        height: 160px;
    }
    .stage__block-theory {
        position: relative;
        display: flex;
        align-items: center;
        width: 526px;
        height: 250px;
        padding: 0 10px 50px 10px;
        margin: 0 auto 20px;
    }
    .stage__block-theory ul {
        font-size: 13px;
        font-weight: 300;
        padding: 90px 0 0 25px;
    }
    .stage-people-task {
        padding-top: 125px;
        padding-left: 20px;
        width: 180px;
    }
    .stage__block-practice {
        position: relative;
        display: flex;
        align-items: center;
        width: 526px;
        height: 250px;
        padding: 0 10px 50px 10px;
        margin: 0 auto 20px;
    }
    .stage__block-practice ul {
        font-size: 13px;
        font-weight: 300;
        padding: 90px 0 10px 25px;
        line-height: 1.3;
    }
    .stage-people-comp {
        padding-top: 125px;
        padding-left: 20px;
        width: 180px;
    }
    .stage__block-final {
        position: relative;
        display: flex;
        align-items: center;
        width: 526px;
        height: 250px;
        padding: 0 10px 50px 10px;
        margin: 0 auto 0;
    }
    .stage__block-final ul {
        font-size: 13px;
        font-weight: 400;
        padding: 90px 0 0 25px;
        line-height: 1.3;
    }
    .stage-people {
        padding: 110px 0 20px 20px;
        width: 180px;
    }
    .stage__footer {
        height: 420px;
    }
    .stage__footer-content {
        font-size: 15px;
    }
    .stage__footer-name {
        font-size: 23px;
    }
    .stage__footer-job {
        font-size: 15px;
        padding-bottom: 15px;
    }
    .stage__footer-about {
        padding: 0;
    }
    .stage__title-btn {
        width: 250px;
        font-size: 15px;
        margin-top: 15px;
    }
    .stage__btn {
        width: 250px;
        font-size: 15px;
    }
    .stage__footer-image {
        padding: 35px 30px 0 10px;
    }
    .stage__footer-image img {
        width: 250px;
        padding: 0;
    }
    .program__main {
        min-height: 1250px;
        padding-top: 0;
    }
    .program__main-inner {
        margin: 0 auto;
    }
    .program__inner {
        min-height: 850px;
    }
    .program__inner-title {
        padding-bottom: 30px;
    }
    .program__title {
        font-size: 19px;
        padding: 60px 0 60px 0;
    }
    .program__title-text {
        width: 300px;
        font-size: 19px;
    }
    .program__title-image {
        width: 85px;
    }
    .program__question h3 {
        width: 300px;
        font-size: 15px;
    }
    .program__question-btn svg {
        width: 26px;
        height: 26px;
    }
    .program__answer ul {
        font-size: 13px;
    }
    .program__inner-tech {
        height: 190px;
    }
    .program__tech-title {
        font-size: 17px;
    }
    .program__tech-list {
        padding: 15px 0 0 0;
    }
    .program__tech-item img {
        width: 45px;
    }
    .proxyman {
        width: 45px;
        height: 45px;
    }
    .program__tech-item span {
        font-size: 11px;
    }
    .certificate {
        padding: 150px 40px 150px 40px;
    }
    .certificate__inner {
        display: block;
        width: 520px;
        height: 600px;
        padding: 0 20px;
    }
    .certificate__inner-title {
        text-align: center;
        font-size: 22px;
    }
    .certificate__inner-subtitle {
        text-align: center;
        font-size: 16px;
        padding-top: 0;
    }
    .certificate__image {
        width: 480px;
    }
    .about {
        min-height: 600px;
    }
    .about__inner {
        margin: 0 auto;
    }
    .about__inner-title {
        font-size: 18px;
    }
    .about__inner-content {
        gap: 20px;
    }
    .about__inner-block {
        height: 450px;
    }
    .about__content-inline {
        width: 200px;
        font-size: 12px;
    }
    .about__footer-title {
        padding: 0 5px 10px 5px;
        text-align: center;
        font-size: 16px;
    }
    .about__footer-btn {
        padding: 10px 30px;
        font-size: 16px;
    }
    .slider {
        height: 480px;
    }
    .slider__title {
        font-size: 19px;
        padding-bottom: 60px;
    }
    .faq__main {
        height: 800px;
    }
    .faq__inner {
        margin: 0 10px;
    }
    .faq__title {
        font-size: 19px;
        padding: 80px 0 60px 90px;
    }
    .faq__content {
        padding-left: 120px;
    }
    .question {
        width: 550px;
        font-size: 15px;
    }
    .question h3 {
        width: 400px;
        font-size: 15px;
    }
    .footer__inner {
        padding: 0;
    }
    .footer__logo {
        position: absolute;
        width: 200px;
    }
    .footer__class {
        position: relative;
        padding-top: 70px;
    }
    .footer__class-title {
        font-size: 18px;
    }
    .footer__class-name {
        font-size: 14px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 599px) {
    .nav {
        padding: 0 10px;
        height: 70px;
        box-shadow: 2px 2px 4px #000;
    }
    .nav__logo img {
        width: 160px;
    }
    .nav__link {
        font-size: 15px;
    }
    .nav__icons-text {
        font-size: 15px;
    }
    .nav__list {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #11101b;
        width: 100%;
        transition: max-height .4s ease, opacity .4s ease;
        opacity: 0;
    }
    .nav__list.active {
        max-height: 500px;
        padding-bottom: 30px;
        opacity: 1;
    }
    .nav__burger {
        display: flex;
    }
    .nav__link {
        padding: 8px;
        text-decoration: none;
        color: #fff;
        transition: background .4s ease;
    }
    .head {
        background: url("../img/head-mob.webp") no-repeat;
        background-size: cover;
        height: 260px;
    }
    .head__inner {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .head__title {
        width: 100%;
        text-align: center;
        padding: 100px 0 0 10px;
        margin-left: 35px;
        font-size: 16px;
    }
    .head__subtitle {
        width: 100%;
        font-size: 14px;
        padding-top: 30px;
    }
    .head__title-footer {
        display: none;
        padding-top: 10px;
        font-size: 13px;
    }
    .head__subtitle-footer {
        display: none;
        font-size: 13px;
    }
    .head__btn {
        display: none;
        padding: 5px 10px;
        font-size: 13px;
    }

    /* Head under */

    .head__under {
        display: block;
        height: 380px;
        padding-top: 355px;
        text-align: center;
    }
    .head__under-btn {
        padding: 10px 20px;
        margin-left: 5px;
        background-color: blueviolet;
        text-align: center;
        color: #fff;
        text-transform: capitalize;
        letter-spacing: 0;
        transition: .5s;
        border-radius: 20px;
        font-size: 12px;
    }
    .head__under-btn:hover {
        opacity: .7;
        transition: .5s;
    }
    .head__under-btn:active {
        opacity: .6;
        transition: .3s;
    }
    .head__under-title {
        text-transform: initial;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 20px 0 0 5px;
        color: #fff;
    }
    .head__under-subtitle {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        color: #FDCA32;
        letter-spacing: 1px;
        padding: 0 0 10px 5px;
    }

    /* Head under */

    .company {
        padding-top: 0;
        height: 400px;
    }
    .company__title {
        font-size: 15px;
        padding: 100px 65px 20px 65px;
    }
    .company__name {
        padding-top: 0;
    }
    .company__name-list {
        display: grid;
        grid-template-columns: 20px 20px;
        height: 200px;
        padding-top: 20px;
        padding-right: 85px;
    }
    .company__name-list img {
        width: 100px;
        height: 35px;
    }
    .company__name-list .dataart {
        padding: 10px 10px;
    }
    .company__name-list .sigma {
        padding: 0;
    }
    .company__name-list .luxoft {
        padding: 5px 10px;
    }
    .company__name-list .softserve {
        padding: 0;
    }
    .company__name-list .global {
        padding: 0;
    }
    .change {
        height: 700px;
    }
    .change__title {
        font-size: 15px;
        padding-top: 20px;
    }
    .change__inner {
        height: 530px;
        margin: 0 20px;
    }
    .change__inner-content {
        padding: 35px 0;
        gap: 5px;
    }
    .change__content-inline {
        width: 330px;
        font-size: 12px;
    }
    .salary {
        display: none;
        height: 600px;
        padding: 0 20px;
    }
    .salary__title {
        padding: 20px 0 60px 0;
        font-size: 15px;
    }
    .salary__head-title {
        font-size: 11px;
    }
    .salary__head-subtitle {
        font-size: 9px;
    }
    .salary__inner {
        width: 330px;
        height: 350px;
        padding: 5px 10px 25px 10px;
    }
    .salary__price-750 {
        width: 70px;
        height: 25px;
        bottom: 90px;
        right: 410px;
        font-size: 10px;
        padding-top: 4px;
    }
    .salary__price-1800 {
        width: 70px;
        height: 25px;
        bottom: 130px;
        right: 210px;
        font-size: 10px;
        padding-top: 4px;
    }
    .salary__price-3100 {
        width: 70px;
        height: 25px;
        bottom: 205px;
        left: -70px;
        font-size: 10px;
        padding-top: 4px;
    }

    /* Salary under */

    .salary__under {
        display: block;
        background: url("../img/salary-bg.png") no-repeat;
        background-size: cover;
        min-height: 700px;
        padding: 20px 0 10px 0;
    }
    .salary__under-title {
        display: block;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding-bottom: 40px;
    }
    .salary__under-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
        gap: 20px;
    }
    .salary__under-inner img {
        width: 120px;
    }
    .under__title {
        font-size: 20px;
        font-weight: 500;
    }
    .under__subtitle {
        font-size: 16px;
        font-weight: 400;
    }

    /* Salary under */

    .stage {
        position: relative;
        height: 2410px;
        padding: 0 20px;
    }
    .stage__title {
        font-size: 15px;
        padding-top: 60px;
    }
    .stage__section {
        display: block;
        padding-top: 60px;
    }
    .stage__block-title {
        bottom: 200px;
        left: 20px;
        font-size: 16px;
    }
    .stage__block-vertical {
        display: none;
        top: 45px;
        left: 20px;
        height: 160px;
    }
    .stage__block-theory {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 400px;
        margin: 0 auto 20px;
    }
    .stage__block-theory ul {
        text-align: center;
        font-size: 13px;
        font-weight: 300;
    }
    .stage-people-task {
        padding-top: 30px;
        width: 200px;
    }
    .stage__block-practice {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 490px;
        margin: 0 auto 20px;
    }
    .stage__block-practice ul {
        text-align: center;
        font-size: 13px;
        font-weight: 300;
    }
    .stage-people-comp {
        padding-top: 30px;
        width: 200px;
    }
    .stage__block-final {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 400px;
        margin: 0 auto 20px;
    }
    .stage__block-final ul {
        text-align: center;
        font-size: 13px;
        font-weight: 400;
    }
    .stage-people {
        padding-top: 30px;
        width: 180px;
    }
    .stage__footer {
        height: 800px;
    }
    .stage__footer-about {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .stage__above-img {
        text-align: center;
        background-color: rgba(21, 11, 43, 1);
        box-shadow: 4px 4px 10px #000;
        border-radius: 10px;
        padding: 10px 10px 0 10px;
    }
    .stage__footer-content {
        position: absolute;
        bottom: 120px;
        font-size: 15px;
        padding: 0;
    }
    .stage__footer-name {
        font-size: 23px;
    }
    .stage__footer-job {
        font-size: 15px;
        padding-bottom: 15px;
    }
    .stage__footer-about {
        padding: 0;
    }
    .stage__title-btn {
        width: 250px;
        font-size: 15px;
        margin: 15px auto 5px auto;
    }
    .stage__btn {
        width: 250px;
        font-size: 15px;
        margin: 0 auto;
    }
    .stage__footer-image {
        padding: 20px 0 20px 0;
    }
    .stage__footer-image img {
        width: 250px;
        padding: 0;
    }
    .program__main {
        min-height: 1250px;
        padding-top: 0;
    }
    .program__main-inner {
        margin: 0 10px;
        padding: 0 10px;
        max-width: 100vw;
    }
    .program__inner {
        min-height: 850px;
        padding: 5px 20px;
    }
    .program__inner-title {
        padding-bottom: 30px;
    }
    .program__title {
        font-size: 15px;
        padding: 60px 0 30px 0;
    }
    .program__title-text {
        width: 200px;
        font-size: 15px;
    }
    .program__title-image {
        width: 65px;
    }
    .program__question {
        padding: 8px 10px;
    }
    .program__question h3 {
        width: 200px;
        font-size: 13px;
    }
    .program__question-btn svg {
        width: 23px;
        height: 23px;
    }
    .program__answer ul {
        font-size: 11px;
    }
    .program__inner-tech {
        height: 270px;
    }
    .program__tech-title {
        font-size: 14px;
    }
    .program__tech-list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding: 15px 0 0 0;
    }
    .program__tech-item img {
        width: 45px;
    }
    .program__tech-item span {
        font-size: 11px;
        padding-bottom: 20px;
    }
    .proxyman {
        width: 45px;
        height: 45px;
    }
    .certificate {
        min-height: 700px;
        padding: 100px 20px 0 20px;
    }
    .certificate__inner {
        display: block;
        height: 500px;
        padding: 0 20px;
    }
    .certificate__inner-title {
        text-align: center;
        font-size: 18px;
    }
    .certificate__inner-subtitle {
        text-align: center;
        font-size: 13px;
        padding-top: 0;
    }
    .certificate__image {
        width: 100%;
    }
    .about {
        width: 100%;
        min-height: 600px;
    }
    .about__inner {
        margin: 0;
    }
    .about__inner-title {
        width: 90vw;
        font-size: 14px;
    }
    .about__inner-content {
        gap: 10px;
        padding: 45px 50px 20px 50px;
    }
    .about__inner-block {
        width: 90vw;
        height: 600px;
    }
    .about__content-inline {
        width: 250px;
        height: 60px;
        font-size: 13px;
    }
    .about__footer-title {
        text-align: center;
        font-size: 14px;
        padding: 0 25px 15px 25px;
    }
    .about__footer-btn {
        padding: 10px 20px;
        font-size: 15px;
    }
    .slider {
        height: 500px;
    }
    .slider__title {
        font-size: 15px;
        padding: 80px 0 60px 0;
    }
    .card__item {
        font-size: 13px;
    }
    .card__item h2 {
        padding-bottom: 10px;
    }
    .faq__main {
        height: 810px;
    }
    .faq__title {
        font-size: 15px;
        padding: 80px 0 60px 0;
    }
    .faq__content {
        margin: 0 10px;
    }
    .question {
        width: 90vw;
        font-size: 15px;
    }
    .question h3 {
        width: 250px;
        font-size: 13px;
    }
    .question svg {
        width: 23px;
        height: 23px;
    }
    .answer p {
        font-size: 11px;
    }
    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .footer__class {
        position: relative;
        text-align: center;
        padding-top: 70px;
    }
    .footer__class ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__class-title {
        font-size: 18px;
    }
    .footer__class-name {
        font-size: 14px;
    }
    .footer__accept {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
    .footer__accept-text {
        font-size: 10px;
    }
}




































